<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="CustomBinding_ITestService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:33333/Services/TestService.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_ITestService"
                contract="TrackingPolicy.TestClient.TestService.ITestService"
                name="CustomBinding_ITestService" />
        </client>
    </system.serviceModel>
</configuration>