<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
        <httpRuntime/>
        <authentication mode="None"/>
    </system.web>

    <system.webServer>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true"/>
                <windowsAuthentication enabled="true"/>
            </authentication>
        </security>
        <defaultDocument>
            <files>
                <add value="default.html"/>
            </files>
        </defaultDocument>
    </system.webServer>

    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />

        <behaviors>
            <serviceBehaviors>
                <behavior name="defaultBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
                <!-- include tracking policy service behavior from configuration -->
                <behavior name="withPolicyBehavior">
                    <trackingBehavior />
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <bindings>
            <customBinding>
                <binding name="">
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>

        <services>
            <!-- assume tracking policy service behavior is set via code or not at all -->
            <service name="TrackingPolicy.TestServer.Services.TestService" behaviorConfiguration="defaultBehavior">
                <endpoint address="" binding="customBinding" bindingConfiguration="" contract="TrackingPolicy.TestServer.Services.ITestService" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
            </service>
            <!-- include tracking policy service behavior from configuration -->
            <service name="TrackingPolicy.TestServer.Services.TestService2" behaviorConfiguration="withPolicyBehavior">
                <endpoint address="" binding="customBinding" bindingConfiguration="" contract="TrackingPolicy.TestServer.Services.ITestService" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
            </service>
        </services>

        <extensions>
            <!-- tracking policy service behavior extension -->
            <behaviorExtensions>
                <add name="trackingBehavior" type="TrackingPolicy.ServiceModel.Server.TrackingBehaviorExtensionElement, TrackingPolicy.ServiceModel" />
            </behaviorExtensions>
        </extensions>

        <diagnostics>
            <!-- Log the SOAP messages -->
            <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
        </diagnostics>
    </system.serviceModel>

    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging">
                <listeners>
                    <!-- Log the SOAP messages -->
                    <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\logs\TrackingPolicy.TestServer.svclog"/>
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
</configuration>